# Runtime requirements
--requirement requirements.txt

# Testing
tox==3.25.1
pytest==7.1.2

# Linting
pyflakes==2.4.0
flake8==4.0.1
flake8-import-order==0.18.1
pep8==1.7.1

# Debugging
ipython==8.4.0
